
{% extends 'base.html.twig' %}
{% block header %}
{% endblock %}
{% block body %}
<section class="bg-light pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center mb-5">About AliAcademy</h1>
        <p class="lead mb-4">At <span class="text-primary">AliAcademy</span>, we're passionate about providing high-quality online education to learners all over the world. Our platform is designed to provide a seamless and engaging learning experience, with courses and resources on a wide range of topics.</p>
        <p class="lead mb-4">Our team of experienced educators and industry professionals is dedicated to creating the best possible learning experience for our students. We believe that education should be accessible to everyone, regardless of their background or location, and we're proud to offer our services to learners all over the world.</p>
        <p class="lead mb-4">Whether you're here to learn a new skill, improve your career prospects, or simply expand your knowledge, we're excited to have you join our community. Our courses are designed to be flexible and convenient, with self-paced learning and interactive resources to help you stay engaged and motivated.</p>
        <p class="lead mb-5">Thank you for choosing <span class="text-primary">AliAcademy</span> as your partner on your learning journey. We're excited to help you achieve your goals and reach your full potential.</p>
      </div>
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img src="https://aliacademy.online/wp-content/uploads/2021/09/AliAcademy-logo-final-1.png" alt="AliAcademy Logo" class="img-fluid ">
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block footer %}
{% endblock %}
 
